header, form {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: flex-end;
}

form {
  flex-grow: 0.75;
  justify-content: center;
}

input {
  flex-grow: 0.5;
  padding: 0.5rem 1rem;
}

.messages {
  margin-top: 2rem;
  max-height: 540px;
  overflow-y: auto;
}

ul {
  list-style: none;
  padding: 0 2rem;
}

@keyframes appear {
  from {
    opacity: 0;
  } to {
    opacity: 1;
  }
}

li {
  display: flex;
}

.message {
  background: rgb(67, 67, 67);
  margin: 0.5rem;
  padding: 1rem;
  border-radius: 10px;
  animation: appear 500ms both;
}

.right {
  justify-content: flex-end;
}

.connection-btn {
  display: flex;
  gap: 0.5rem;
}

.connection-btn>span {
  padding-left: 0.5rem;
  border-left: solid 1px grey;
}